.cabecera{
    margin: 0 auto;
    background-image: linear-gradient(to bottom, #33b4de 30%, #00a1da 50px)
}
/*margin left 100px*/

.titulo{
    padding-top: 150px;
    padding-left: 250px;
    color: white;
    font-size: 40px;
    margin: 0 auto;
}

#menu{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
    text-align: center;
    margin-bottom: 30px;
}

#menu a{
    text-decoration: none;
    color: white;
}

.current_page_item{
    background-color: #f7e031;
    height: 20px;
    color: #ffffff;
}

:hover .current_page_item{
    text-decoration: underline;
}

#menu ul li{
    display: inline-block;
    padding: 17px;
    color: white;
    text-decoration: none;
}

.caja{
    width: 920px;
}

.cajaizquierda{
    width: 177px;
    float: left;
    padding-left: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #585d60;
}

.titulo1{
    height: 26px;
    margin: 0 0 10px 0;
    padding: 12px 0 2px 7px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: normal;
    color: #464f54;
}

.texto1{
    margin: 0;
    padding: 0 10px;
    line-height: 200%;
    height: 160px;
}

.titulo2 li{
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
}

.cajaizquierda li{
    margin: 0;
    padding: 7px 10px 10px 7px;
    border-bottom: 1px dotted #83878c;
}

.cajaizquierda .titulo2 ul li{
    text-align: left;
    text-decoration: none;
    font-weight: normal;
    color: #585d60;
}

.cajaderecha{
    width: 658px;
    float: right;
    margin-bottom: 25px;
}

.post{
    height: 30px;
    color: #549900;
}

.info{
    padding: 10px 0;
    border-bottom: 1px dotted #83878c;
}

.limpiar{
    clear: both;
    margin: 0 auto;
}